{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}
{% block head %}
    {{super()}}
<link rel = "shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
    tpye = "image/x_icon">
<link rel = "icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
    tpye = "image/x_icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header1">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">home</a>
    </div>

    <div class="navbar-header2">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/redirect">redirect</a>
    </div>

    <div class="navbar-header3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/user/majf">username</a>
    </div>

    <div class="navbar-header4">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/bootstrap">bootstrap</a>
    </div>

  </div>
</div>
{% endblock %}

{% block content %}

<div class="container">
  {% for message in get_flashed_messages() %}
  <div class = "alert alert-warning">
    <button type = "button" class = "close" data-dismiss = "alert" >&times;</button>
    {{message}}
  </div>
  {% endfor %}
  {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

